{% extends "base.html" %}
{% block title %}Add Product{% endblock %}
{% block content %}
    <div class="container">
        <h1>Add Product</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="row mb-3">
                <label for="id_title" class="col-sm-2 col-form-label">Title:</label>
                <div class="col-sm-10">
                    {{ form.title }}
                </div>
            </div>

            <div class="row mb-3">
                <label for="id_price" class="col-sm-2 col-form-label">Price:</label>
                <div class="col-sm-10">
                    {{ form.price }}
                </div>
            </div>

            <div class="row mb-3">
                <label for="id_image" class="col-sm-2 col-form-label">Image:</label>
                <div class="col-sm-10">
                    {{ form.image }}
                </div>
            </div>

            <div class="row mb-3">
                <label for="id_category" class="col-sm-2 col-form-label">Category:</label>
                <div class="col-sm-10">
                    {{ form.category }}
                </div>
            </div>

            <div class="row mb-3">
                <label for="id_left" class="col-sm-2 col-form-label">Left:</label>
                <div class="col-sm-10">
                    {{ form.left }}
                </div>
            </div>

            <div class="row mb-3">
                <label for="id_description" class="col-sm-2 col-form-label">Description:</label>
                <div class="col-sm-10">
                    {{ form.description }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">Add Product</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
