{% extends "base.html" %}
{% block title %}Products View{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ product.image }}" alt="Product Image" class="img-fluid" style="max-width: 100%;">
        </div>
        <div class="col-md-8">
            <div class="card-box" style="width: 100%;">
                <div class="card-body">
                    <h2 class="card-text">{{ product.title }}</h2>
                    <h6 class="card-text">{{ product.category.title }}</h6>
                    <h5 class="card-text">Price: {{ product.price }}$</h5>
                    <h5 class="card-text">Left: {{ product.left }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
